*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/graph.svg');
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}